$govuk-page-width: 1200px;
$govuk-font-family: 'Arial', sans-serif;
$govuk-breakpoints: (
  mobile:  0px,
  tablet:  0px,
  desktop: 769px
) !default;

@import "govuk-frontend/all";
@import "hackney_colour";
@import "hackney_header";
@import "hackney_button";
@import "hackney_work_order";
@import "hackney_note";

.hackney-template {
  min-width: 1024px;
}

.hackney-focus-colour:focus {
  outline: 3px solid hackney-colour('housing-3');
}

.hackney-page-header {
  background-color: govuk-colour("grey-4");
  border-bottom: 1px solid govuk-colour("grey-2");
  padding-top: 10px;
  padding-bottom: 30px;
}

.hackney-width-container {
  @include govuk-media-query($from: tablet) {
    margin: 0 30px;
  }
}

.hackney-width-container-bottom {
  @include govuk-media-query($from: tablet) {
    background-color: govuk-colour('white');
    padding: 0 100px;
  }
}

.hackney-main-wrapper {
  a {
    color: hackney-colour('housing-2');
    &:visited {
      color: hackney-colour('housing-1');
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.hackney-flash-message {
  @include govuk-font($size: 16);
  background-color: hackney-colour("housing-2");
  color: govuk-colour("grey-4");
  margin-bottom: 10px;
  padding: 10px 20px;
}

.hackney-note-info {
  @include govuk-responsive-margin(2, "bottom");
  color: $govuk-secondary-text-colour;
}
// govuk styling specifies this as ems, and the other as pixels,
// so need to overwrite it directly
.govuk-width-container {
  margin: 0 ($govuk-gutter / 6);
}

@media (min-width: 1260px) {
  .govuk-width-container {
    margin: 0 auto;
  }
}
